.button {
  padding: 0.5rem 1rem;
  background: linear-gradient(var(--color-primary-dark), var(--color-primary-dark)) padding-box, linear-gradient(to right, var(--color-cyan) 30%, var(--color-violet) 100%) border-box;
  border-radius: 2rem;
  border: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;
}

.button.dark {
  background: none;
  border: 2px solid var(--color-cyan-dark);
}

.button:hover {
  background: linear-gradient(to right, var(--color-cyan) 30%, var(--color-violet) 100%) border-box;
}

.button.dark:hover {
  background: var(--color-cyan-dark);
}

button:disabled,
button[disabled],
button:disabled:hover,
button.dark:disabled,
button.dark:disabled:hover {
  background: none;
  border: 2px solid #666666;
  cursor: auto;
}

.button span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background: var(--color-cyan);
  background: linear-gradient(to right, var(--color-cyan) 30%, var(--color-violet) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.dark span {
  background: var(--color-cyan-dark);
  -webkit-background-clip: text;
}

.button:hover span {
  background: var(--color-primary-dark);
  -webkit-background-clip: text;
}

.button.dark:hover span {
  background: var(--color-cyan);
  -webkit-background-clip: text;
}

.button:disabled span, .button:disabled:hover span {
  background: #666666;;
  -webkit-background-clip: text;
}

@media (min-width: 896px) {
  .button {
    font-size: 1rem;
  }
}