@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#1b1b1b, #2f3d3d);
  color: #60D6D8;
  min-height: 100vh;
}