@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway', sans-serif;
  --color-cyan: #60d6d8;
  --color-cyan-10: #60d6d81a;
  --color-cyan-40: #60d6d866;
  --color-violet: #d57aff;
  --color-red: #ff7a7a;
  --color-primary-dark: #1b1b1b;
}

body {
  margin: 0;
  background: var(--color-primary-dark);
  color: var(--color-cyan);
  min-height: 100vh;
}
